/* http://meyerweb.com/eric/tools/css/reset/ + http://html5doctor.com/html-5-reset-stylesheet/ */
/* v2.0 | 20110126 + v1.6.1 | Last Updated: 2010-09-17 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; background: transparent; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }

body { width: 620px; font: 12px Arial, Helvetica, Verdana, sans-serif; line-height: 20px; color: #575757; padding: 40px 0; margin: 0 auto; background: url('img/bg_tile.jpg'); -webkit-text-size-adjust: 100%; }
p { margin-bottom: 20px; }
a { color: #396; text-decoration: none; }
a:hover, a:focus { color: #000; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
sup, sub { vertical-align: baseline; position: relative; top: -0.4em; }
sub { top: 0.4em; }

/* FACEBOOK */
#facebook_wall { width: 560px; margin: 0 auto; border-top: 2px solid #535353; border-bottom: 2px solid #535353; background: #eee; }
#facebook_wall.loading { min-height: 200px; background-image: url('img/loader-small.gif'); background-repeat: no-repeat; background-position: 50% 50%; }

#facebook_wall li { min-height: 52px; padding: 10px 10px 10px 72px; border-bottom: 1px solid #d4d4d4; position: relative; }
#facebook_wall li:last-child { border-bottom: none; }

#facebook_wall li .avatar { width: 50px; height: 50px; border: 1px solid #999; position: absolute; top: 10px; left: 10px; }

#facebook_wall li .message-from { font-weight: bold; }
#facebook_wall li .message { }
#facebook_wall li .story { font-style: italic; }

#facebook_wall li .media { color: #8a8a8a; margin: 10px 0; }
#facebook_wall li .media.border-left { padding-left: 10px; border-left: 2px solid #a1a1a1; }
#facebook_wall li .media img { padding: 2px; margin-right: 10px; border: 1px solid #a1a1a1; float: left; display: inline; }
#facebook_wall li .media .media-meta { display: table; }
#facebook_wall li .media .media-meta .name { font-weight: bold; }
#facebook_wall li .media .media-meta .caption { }
#facebook_wall li .media .media-meta .description { }

#facebook_wall li .post-meta { font-size: 11px; line-height: 16px; color: #a1a1a1; clear: both; }
#facebook_wall li .post-meta .seperator { padding: 0 4px; }
#facebook_wall li .post-meta .date { }
#facebook_wall li .post-meta .likes { }
#facebook_wall li .post-meta .comments { }
#facebook_wall li .post-meta .actionlinks { }
#facebook_wall li .post-meta .actionlinks .like { }
#facebook_wall li .post-meta .actionlinks .comment { }

#facebook_wall li ul.like-list { display: none; }
#facebook_wall li ul.like-list li.like { }
#facebook_wall li ul.like-list li.like .like-from { }

#facebook_wall li ul.comment-list { margin-top: 10px; }
#facebook_wall li ul.comment-list li.comment { font-size: 11px; line-height: 16px; background: #e0e0e0; }
#facebook_wall li ul.comment-list li.comment .comment-from { font-weight: bold; }
#facebook_wall li ul.comment-list li.comment .message { line-height: 20px; }
#facebook_wall li ul.comment-list li.comment .date { color: #a1a1a1; }

/* CLEARFIX */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
spacer-gif { display: none; }