/* ==========================================================================
   Table of content
   ==========================================================================

    1.  General
    2.  
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

*/

/* ==========================================================================
   1. General - Setting up some base styles
   ========================================================================== */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: 'Open Sans', serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    color: #3a4145;
    background: #edf0f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Neuton', serif;
}
h1 {
    font-size: 5rem;
    font-size: 175%;
    line-height: 1.2em;
}
h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 3rem;
}
h5 {
    font-size: 2.5rem;
}
h6 {
    font-size: 2rem;
}
a {
    color: #2980b9;
    text-decoration: none;
    transition: color ease 0.3s;
}
a:hover,
a:focus {
    color: #3091d1;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
hr {
    height: 1px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #efefef;
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



p, ul, ol, dl {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}


code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}


/* ==========================================================================
   2. Layout - Setting up the layout styles
   ========================================================================== */

section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
section:before {
    width: 300px;
    height: 100%;
    background: #343131;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    content: ' ';
}
section:after {
    width: 800px;
    height: 100%;
    background: #fcfcfc;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 1;
    content: ' ';
}
aside {
    width: 300px;
    font-size: 0.875em;
    color: #b3b3b3;
    float: left;
    position: relative;
    z-index: 2;
}
aside header {
    padding: 12px 24px;
}
article {
    width: 800px;
    padding: 26px 52px;
    float: left;
    position: relative;
    z-index: 2;
}


/* ==========================================================================
   3. Navigation - Get the navigation looking right
   ========================================================================== */

ul.mainmenu {
    list-style: none;
    padding-left: 0;
}
ul.mainmenu li {
}
ul.mainmenu li a {
    color: #b3b3b3;
    text-decoration: none;
    padding: 4px 24px;
    display: block;
}
ul.mainmenu li.current a {
    color: #808080;
    background: #e3e3e3;
}
ul.mainmenu li a:hover {
    background: #4e4a4a;
}

ul.facebook-wall {
    list-style: none;
    padding-left: 0;
}


/* ==========================================================================
   4. Standard styling
   ========================================================================== */

.facebook-wall.standard { min-height: 200px; background: #f2f2f2; border-top: 2px solid #4d4d4d; border-bottom: 2px solid #4d4d4d; margin: 0 -40px 40px -40px; position: relative; }

.facebook-wall.standard .facebook-loading { width: 16px; height: 16px; background: url('images/loader.png') no-repeat 50% 50%; margin-top: -8px; margin-left: -8px; position: absolute; top: 100px; left: 50%; }
.facebook-wall.standard .facebook-loading { -moz-animation: update-spinner 1s linear infinite; -webkit-animation: update-spinner 1s linear infinite; -ms-animation: update-spinner 1s linear infinite; animation: update-spinner 1s linear infinite; }

.facebook-wall.standard li { min-height: 52px; padding: 10px 10px 10px 72px; border-top: 1px solid #b3b3b3; display: none; position: relative; }
.facebook-wall.standard li:first-child { border-top: none; }

.facebook-wall.standard li .meta-header { }
.facebook-wall.standard li .meta-header .avatar { width: 50px; height: 50px; border: 1px solid #ccc; position: absolute; top: 10px; left: 10px; }
.facebook-wall.standard li .meta-header .author { font-weight: bold; }
.facebook-wall.standard li .meta-header .date { display: none; }

.facebook-wall.standard li .message { color: #808080; margin-bottom: 16px; }
.facebook-wall.standard li .story { font-style: italic; color: #808080; margin-bottom: 16px; }
.facebook-wall.standard li .message a,
.facebook-wall.standard li .story a { color: #666; text-decoration: underline; }

.facebook-wall.standard li .media { color: #8a8a8a; margin: 10px 0; }
.facebook-wall.standard li .media.border-left { padding-left: 10px; border-left: 2px solid #a1a1a1; }
.facebook-wall.standard li .media .image { margin-right: 10px; float: left; position: relative; }
.facebook-wall.standard li.type-video .media .image:after { width: 44px; height: 44px; background: url('images/play.png') no-repeat 50% 50%; margin-top: -22px; margin-left: -22px; position: absolute; top: 50%; left: 50%; content: " "; pointer-events: none; }
.facebook-wall.standard li .media .image img { max-width: 100%; height: auto; padding: 2px; border: 1px solid #a1a1a1; }
.facebook-wall.standard li .media .media-meta { }
.facebook-wall.standard li .media .media-meta .name { font-weight: bold; }
.facebook-wall.standard li .media .media-meta .caption { font-style: italic; }
.facebook-wall.standard li .media .media-meta .description { }

.facebook-wall.standard li .meta-footer { font-size: 9px; line-height: 16px; color: #a1a1a1; clear: both; }
.facebook-wall.standard li .meta-footer .seperator { padding: 0 4px; }
.facebook-wall.standard li .meta-footer .date { }
.facebook-wall.standard li .meta-footer .likes { }
.facebook-wall.standard li .meta-footer .comments { }
.facebook-wall.standard li .meta-footer .share { }
.facebook-wall.standard li .meta-footer .actions { }
.facebook-wall.standard li .meta-footer .actions .like { }
.facebook-wall.standard li .meta-footer .actions .comment { }
.facebook-wall.standard li .meta-footer .actions .share { }

.facebook-wall.standard li ul.like-list { margin-top: 10px; }
.facebook-wall.standard li ul.like-list li.like { min-height: 16px; font-size: 11px; line-height: 16px; padding-left: 36px; background: #e0e0e0; border-top: none; margin-top: 2px; display: block; }
.facebook-wall.standard li ul.like-list li.like:first-child { margin-top: 0; }
.facebook-wall.standard li ul.like-list li.like .meta-header .avatar { width: 24px; height: 24px; margin-top: -5px; margin-bottom: -5px; margin-left: -5px; }
.facebook-wall.standard li ul.like-list li.like .meta-header .avatar img { width: 24px; }
.facebook-wall.standard li ul.like-list li.like .meta-header .author { }

.facebook-wall.standard li ul.comment-list { margin-top: 10px; }
.facebook-wall.standard li ul.comment-list li.comment { font-size: 11px; line-height: 16px; background: #e0e0e0; border-top: none; margin-top: 2px; display: block; }
.facebook-wall.standard li ul.comment-list li.comment:first-child { margin-top: 0; }
.facebook-wall.standard li ul.comment-list li.comment .meta-header .author { }
.facebook-wall.standard li ul.comment-list li.comment .meta-header .date { }
.facebook-wall.standard li ul.comment-list li.comment .message { margin-bottom: 0; }
.facebook-wall.standard li ul.comment-list li.comment .date { font-size: 9px; line-height: 16px; color: #a1a1a1; }
.facebook-wall.standard li ul.comment-list li.read_more { min-height: 1px; font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 0 10px 0 72px; border-top: none; margin: 5px 0 -5px 0; display: block; }
.facebook-wall.standard li ul.comment-list li.read_more a { color: #a1a1a1; }





#update-icon {
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.6) url(assets/images/refresh.png) no-repeat 50% 50%;
    margin-top: -17px;
    margin-left: -17px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.no-js #update-icon {
    display: none;
}

@-moz-keyframes update-spinner {
	from { -moz-transform: rotate(360deg); }
	to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes update-spinner {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes update-spinner {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}
@keyframes update-spinner {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}
#update-icon {
    -webkit-animation: update-spinner 1s linear infinite;
    -moz-animation: update-spinner 1s linear infinite;
    -ms-animation: update-spinner 1s linear infinite;
    animation: update-spinner 1s linear infinite;
}

/* ==========================================================================
   5. Alternate styling #1
   ========================================================================== */

.facebook-wall.alt1 { min-height: 200px; margin: 0 -40px 40px -40px; position: relative; }

.facebook-wall.alt1 .facebook-loading { width: 16px; height: 16px; background: url('images/loader.png') no-repeat 50% 50%; margin-top: -8px; margin-left: -8px; position: absolute; top: 100px; left: 50%; }
.facebook-wall.alt1 .facebook-loading { -moz-animation: update-spinner 1s linear infinite; -webkit-animation: update-spinner 1s linear infinite; -ms-animation: update-spinner 1s linear infinite; animation: update-spinner 1s linear infinite; }

.facebook-wall.alt1 li { padding: 10px; display: none; position: relative; }
.facebook-wall.alt1 li.post { background: #fff; border: 1px solid #ccc; margin-bottom: 10px; }
.facebook-wall.alt1 li.post:after,
.facebook-wall.alt1 li.post:before { width: 0; height: 0; border: solid transparent; content: " "; position: absolute; right: 100%; pointer-events: none; }
.facebook-wall.alt1 li.post:after { border-color: rgba(255, 255, 255, 0); border-right-color: #ffffff; border-width: 10px; margin-top: -10px; top: 30px; }
.facebook-wall.alt1 li.post:before { border-color: rgba(204, 204, 204, 0); border-right-color: #cccccc; border-width: 11px; margin-top: -11px; top: 30px; }

.facebook-wall.alt1 li .meta-header { }
.facebook-wall.alt1 li .meta-header .avatar { margin-right: 10px; margin-bottom: 10px; float: left; }
.facebook-wall.alt1 li .meta-header .author { font-weight: bold; }
.facebook-wall.alt1 li .meta-header .author a { text-decoration: none; }
.facebook-wall.alt1 li .meta-header .date { display: none; }

.facebook-wall.alt1 li .message { color: #808080; margin-bottom: 16px; }
.facebook-wall.alt1 li .story { font-style: italic; color: #808080; margin-bottom: 16px; }
.facebook-wall.alt1 li .message a,
.facebook-wall.alt1 li .story a { color: #666; text-decoration: underline; }

.facebook-wall.alt1 li .media { padding: 10px 0; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; margin: 10px 0; clear: both; }
.facebook-wall.alt1 li .media.border-left { padding-left: 10px; border-right: 1px solid #e5e5e5; border-left: 2px solid #999; }
.facebook-wall.alt1 li .media .image { margin-right: 10px; float: left; position: relative; }
.facebook-wall.alt1 li.type-video .media .image:after { width: 44px; height: 44px; background: url('images/play.png') no-repeat 50% 50%; margin-top: -22px; margin-left: -22px; position: absolute; top: 50%; left: 50%; content: " "; pointer-events: none; }
.facebook-wall.alt1 li .media .image img { max-width: 100%; height: auto; border: 1px solid #a1a1a1; }
.facebook-wall.alt1 li .media .media-meta { }
.facebook-wall.alt1 li .media .media-meta .name { font-weight: bold; }
.facebook-wall.alt1 li .media .media-meta .caption { font-style: italic; }
.facebook-wall.alt1 li .media .media-meta .description { }

.facebook-wall.alt1 li .meta-footer { font-size: 9px; line-height: 16px; color: #808080; padding: 10px; background: #fbfbfb; border-top: 1px dotted #ccc; margin: 0 -10px -10px -10px; clear: both; }
.facebook-wall.alt1 li .meta-footer .seperator { padding: 0 4px; }
.facebook-wall.alt1 li .meta-footer .date { }
.facebook-wall.alt1 li .meta-footer .likes { }
.facebook-wall.alt1 li .meta-footer .comments { }
.facebook-wall.alt1 li .meta-footer .share { }
.facebook-wall.alt1 li .meta-footer .actions { }
.facebook-wall.alt1 li .meta-footer .actions .like { }
.facebook-wall.alt1 li .meta-footer .actions .comment { }
.facebook-wall.alt1 li .meta-footer .actions .share { }

.facebook-wall.alt1 li ul.like-list { margin-top: 10px; }
.facebook-wall.alt1 li ul.like-list li.like { min-height: 16px; background: #f2f2f2; margin-top: 4px; display: block; }
.facebook-wall.alt1 li ul.like-list li.like:first-child { margin-top: 0; }
.facebook-wall.alt1 li ul.like-list li.like .meta-header .avatar { margin-top: -5px; margin-bottom: -5px; margin-left: -5px; }
.facebook-wall.alt1 li ul.like-list li.like .meta-header .avatar img { width: 26px; }
.facebook-wall.alt1 li ul.like-list li.like .meta-header .author { }

.facebook-wall.alt1 li ul.comment-list { margin-top: 10px; }
.facebook-wall.alt1 li ul.comment-list li.comment { min-height: 50px; padding: 10px 10px 10px 70px; background: #f2f2f2; margin-top: 4px; display: block; }
.facebook-wall.alt1 li ul.comment-list li.comment:first-child { margin-top: 0; }
.facebook-wall.alt1 li ul.comment-list li.comment .meta-header .avatar { padding-left: 0; background: none; margin-left: 0; position: absolute; top: 10px; left: 10px; }
.facebook-wall.alt1 li ul.comment-list li.comment .meta-header .author { width: auto; font-weight: bold; float: none; display: block; }
.facebook-wall.alt1 li ul.comment-list li.comment .meta-header .date { }
.facebook-wall.alt1 li ul.comment-list li.comment .message { margin-bottom: 0; }
.facebook-wall.alt1 li ul.comment-list li.comment .date { font-size: 9px; line-height: 16px; color: #a1a1a1; }
.facebook-wall.alt1 li ul.comment-list li.read_more { min-height: 1px; font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 0 10px 0 72px; border-top: none; margin: 5px 0 -5px 0; display: block; }
.facebook-wall.alt1 li ul.comment-list li.read_more a { color: #a1a1a1; }


/* ==========================================================================
   6. Alternate styling #2
   ========================================================================== */

.facebook-wall.alt2 { min-height: 200px; margin: 0 -40px 40px -40px; position: relative; }

.facebook-wall.alt2 .facebook-loading { width: 16px; height: 16px; background: url('images/loader.png') no-repeat 50% 50%; margin-top: -8px; margin-left: -8px; position: absolute; top: 100px; left: 50%; }
.facebook-wall.alt2 .facebook-loading { -moz-animation: update-spinner 1s linear infinite; -webkit-animation: update-spinner 1s linear infinite; -ms-animation: update-spinner 1s linear infinite; animation: update-spinner 1s linear infinite; }

.facebook-wall.alt2 li { padding: 10px; display: none; position: relative; }
.facebook-wall.alt2 li.post { background: #fff; border: 1px solid #ccc; margin-bottom: 10px; }
.facebook-wall.alt2 li.post:after,
.facebook-wall.alt2 li.post:before { width: 0; height: 0; border: solid transparent; content: " "; position: absolute; right: 100%; pointer-events: none; }
.facebook-wall.alt2 li.post:after { border-color: rgba(255, 255, 255, 0); border-right-color: #ffffff; border-width: 10px; margin-top: -10px; top: 30px; }
.facebook-wall.alt2 li.post:before { border-color: rgba(204, 204, 204, 0); border-right-color: #cccccc; border-width: 11px; margin-top: -11px; top: 30px; }

.facebook-wall.alt2 li .meta-header { }
.facebook-wall.alt2 li .meta-header .avatar { margin-right: 10px; margin-bottom: 10px; float: left; }
.facebook-wall.alt2 li .meta-header .author { font-weight: bold; }
.facebook-wall.alt2 li .meta-header .author a { text-decoration: none; }
.facebook-wall.alt2 li .meta-header .date { display: none; }

.facebook-wall.alt2 li .message { color: #808080; margin-bottom: 16px; }
.facebook-wall.alt2 li .story { font-style: italic; color: #808080; margin-bottom: 16px; }
.facebook-wall.alt2 li .message a,
.facebook-wall.alt2 li .story a { color: #666; text-decoration: underline; }

.facebook-wall.alt2 li .media { height: 0; padding: 9px 10px; background: #fbfbfb url('images/hellip.png') no-repeat 10px 50%; border-top: 1px dotted #ccc; margin: 0 -10px 0 -10px; overflow: hidden; clear: both; cursor: pointer; }
.no-js .facebook-wall.alt2 li:hover .media { height: auto; padding: 10px 10px; cursor: auto; }
.facebook-wall.alt2 li .media * { opacity: 0; }
.no-js .facebook-wall.alt2 li:hover .media * { opacity: 1; }
.facebook-wall.alt2 li .media .image { margin-right: 10px; float: left; position: relative; }
.facebook-wall.alt2 li.type-video .media .image:after { width: 44px; height: 44px; background: url('images/play.png') no-repeat 50% 50%; margin-top: -22px; margin-left: -22px; position: absolute; top: 50%; left: 50%; content: " "; pointer-events: none; }
.facebook-wall.alt2 li .media .image img { max-width: 100%; height: auto; border: 1px solid #a1a1a1; }
.facebook-wall.alt2 li .media .media-meta { }
.facebook-wall.alt2 li .media .media-meta .name { font-weight: bold; }
.facebook-wall.alt2 li .media .media-meta .caption { font-style: italic; }
.facebook-wall.alt2 li .media .media-meta .description { }

.facebook-wall.alt2 li .meta-footer { font-size: 9px; line-height: 16px; color: #808080; padding: 10px; border-top: 1px dotted #ccc; margin: 0 -10px -10px -10px; clear: both; }
.facebook-wall.alt2 li .meta-footer .seperator { padding: 0 4px; }
.facebook-wall.alt2 li .meta-footer .date { }
.facebook-wall.alt2 li .meta-footer .likes { }
.facebook-wall.alt2 li .meta-footer .comments { }
.facebook-wall.alt2 li .meta-footer .share { }
.facebook-wall.alt2 li .meta-footer .actions { }
.facebook-wall.alt2 li .meta-footer .actions .like { }
.facebook-wall.alt2 li .meta-footer .actions .comment { }
.facebook-wall.alt2 li .meta-footer .actions .share { }

.facebook-wall.alt2 li ul.like-list { margin-top: 10px; }
.facebook-wall.alt2 li ul.like-list li.like { min-height: 16px; background: #f2f2f2; margin-top: 4px; display: block; }
.facebook-wall.alt2 li ul.like-list li.like:first-child { margin-top: 0; }
.facebook-wall.alt2 li ul.like-list li.like .meta-header .avatar { margin-top: -5px; margin-bottom: -5px; margin-left: -5px; }
.facebook-wall.alt2 li ul.like-list li.like .meta-header .avatar img { width: 26px; }
.facebook-wall.alt2 li ul.like-list li.like .meta-header .author { }

.facebook-wall.alt2 li ul.comment-list { margin-top: 10px; }
.facebook-wall.alt2 li ul.comment-list li.comment { min-height: 50px; padding: 10px 10px 10px 70px; background: #f2f2f2; margin-top: 4px; display: block; }
.facebook-wall.alt2 li ul.comment-list li.comment:first-child { margin-top: 0; }
.facebook-wall.alt2 li ul.comment-list li.comment .meta-header .avatar { padding-left: 0; background: none; margin-left: 0; position: absolute; top: 10px; left: 10px; }
.facebook-wall.alt2 li ul.comment-list li.comment .meta-header .author { width: auto; font-weight: bold; float: none; display: block; }
.facebook-wall.alt2 li ul.comment-list li.comment .meta-header .date { }
.facebook-wall.alt2 li ul.comment-list li.comment .message { margin-bottom: 0; }
.facebook-wall.alt2 li ul.comment-list li.comment .date { font-size: 9px; line-height: 16px; color: #a1a1a1; }
.facebook-wall.alt2 li ul.comment-list li.read_more { min-height: 1px; font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 0 10px 0 72px; border-top: none; margin: 5px 0 -5px 0; display: block; }
.facebook-wall.alt2 li ul.comment-list li.read_more a { color: #a1a1a1; }


/* ==========================================================================
   7. Alternate styling #3
   ========================================================================== */

.facebook-wall.alt3 { min-height: 200px; margin: 0 -40px; position: relative; }

.facebook-wall.alt3 .facebook-loading { width: 16px; height: 16px; background: url('images/loader.png') no-repeat 50% 50%; margin-top: -8px; margin-left: -8px; position: absolute; top: 100px; left: 50%; }
.facebook-wall.alt3 .facebook-loading { -moz-animation: update-spinner 1s linear infinite; -webkit-animation: update-spinner 1s linear infinite; -ms-animation: update-spinner 1s linear infinite; animation: update-spinner 1s linear infinite; }

.facebook-wall.alt3 li { padding: 10px; background: #eee; margin-bottom: 10px; display: none; position: relative; }
.facebook-wall.alt3 li:first-child { border-top: none; }

.facebook-wall.alt3 li .meta-header { display: inline; }
.facebook-wall.alt3 li .meta-header .avatar { width: 50px; height: 50px; border: 1px solid #999; margin-right: 10px; margin-bottom: 10px; float: left; }
.facebook-wall.alt3 li .meta-header .author { width: 478px; font-weight: bold; float: left; }
.facebook-wall.alt3 li .meta-header .date { width: 478px; float: left; display: none; }

.facebook-wall.alt3 li .message { width: 478px; color: #808080; margin-bottom: 10px; float: left; }
.facebook-wall.alt3 li .story { width: 478px; font-style: italic; color: #808080; margin-bottom: 10px; float: left; }
.facebook-wall.alt3 li .message a,
.facebook-wall.alt3 li .story a { color: #808080; text-decoration: underline; }

.facebook-wall.alt3 li .media { color: #8a8a8a; padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #a1a1a1; border-bottom: 1px solid #a1a1a1; margin-top: 10px; margin-bottom: 10px; clear: both; }
.facebook-wall.alt3 li .media.border-left { padding-left: 10px; border-left: 2px solid #a1a1a1; }
.facebook-wall.alt3 li .media img { max-width: 50%; height: auto; padding: 2px; border: 1px solid #a1a1a1; margin-right: 10px; float: left; }
.facebook-wall.alt3 li .media .media-meta { max-width: 50%; float: left; }
.facebook-wall.alt3 li .media .media-meta .name { font-weight: bold; }
.facebook-wall.alt3 li .media .media-meta .caption { font-style: italic; }
.facebook-wall.alt3 li .media .media-meta .description { }

.facebook-wall.alt3 li .meta-footer { font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 5px; background: #e0e0e0; clear: both; }
.facebook-wall.alt3 li .meta-footer .seperator { padding: 0 4px; }
.facebook-wall.alt3 li .meta-footer .date { }
.facebook-wall.alt3 li .meta-footer .likes { }
.facebook-wall.alt3 li .meta-footer .comments { }
.facebook-wall.alt3 li .meta-footer .share { }
.facebook-wall.alt3 li .meta-footer .actions { }
.facebook-wall.alt3 li .meta-footer .actions .like { }
.facebook-wall.alt3 li .meta-footer .actions .comment { }
.facebook-wall.alt3 li .meta-footer .actions .share { }

.facebook-wall.alt3 li ul.like-list { margin-top: 10px; display: none; }
.facebook-wall.alt3 li ul.like-list li.like { font-size: 11px; line-height: 16px; background: #e0e0e0; border-top: none; margin-top: 2px; display: block; }
.facebook-wall.alt3 li ul.like-list li.like:first-child { margin-top: 0; }
.facebook-wall.alt3 li ul.like-list li.like .meta-header .author { }

.facebook-wall.alt3 li ul.comment-list { margin-top: 10px; }
.facebook-wall.alt3 li ul.comment-list li.comment { min-height: 50px; font-size: 11px; line-height: 16px; padding: 10px 10px 10px 70px; border-top: none; background: #e0e0e0; margin-top: 2px; margin-bottom: 0; display: block; }
.facebook-wall.alt3 li ul.comment-list li.comment:first-child { margin-top: 0; }
.facebook-wall.alt3 li ul.comment-list li.comment .meta-header .avatar { position: absolute; top: 10px; left: 10px; }
.facebook-wall.alt3 li ul.comment-list li.comment .meta-header .author { width: auto; float: none; }
.facebook-wall.alt3 li ul.comment-list li.comment .meta-header .date { width: auto; float: none; }
.facebook-wall.alt3 li ul.comment-list li.comment .message { width: auto; margin-bottom: 0; float: none; }
.facebook-wall.alt3 li ul.comment-list li.comment .date { font-size: 9px; line-height: 16px; color: #a1a1a1; }
.facebook-wall.alt3 li ul.comment-list li.read_more { min-height: 1px; font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 0 10px 0 72px; border-top: none; margin: 5px 0 -5px 0; display: block; }
.facebook-wall.alt3 li ul.comment-list li.read_more a { color: #a1a1a1; }