/* ==========================================================================
   Table of content
   ==========================================================================

    1.  General
    2.  
    3.  Utilities
    4.  General
    5.  Single Post
    6.  Third Party Elements
    7.  Pagination
    8.  Footer
    9.  Media Queries (Tablet)
    10. Media Queries (Mobile)

*/

/* ==========================================================================
   1. General - Setting up some base styles
   ========================================================================== */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'Open Sans', serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    color: #3A4145;
    background: #edf0f2;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Roboto Slab', 'Georgia', serif;
}
h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
}

h1 {
    font-size: 5rem;
    font-size: 175%;
    line-height: 1.2em;
}

h2 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

h6 {
    font-size: 2rem;
}

a {
    color: #4a4a4a;
    transition: color ease 0.3s;
}

a:hover {
    color: #57A3E8;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    color: #50585D;
}


p, ul, ol, dl {
    margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
    margin: 0.4em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #E3EDF3;
    background: #F7FAFB;
    border-radius: 2px;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #E3EDF3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}


/* ==========================================================================
   2. Layout - Setting up the layout styles
   ========================================================================== */

section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
section:before {
    width: 300px;
    height: 100%;
    background: #343131;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    content: ' ';
}
section:after {
    width: 800px;
    height: 100%;
    background: #fcfcfc;
    position: fixed;
    top: 0;
    left: 300px;
    z-index: 1;
    content: ' ';
}
aside {
    width: 300px;
    color: #b3b3b3;
    padding: 12px 24px;
    float: left;
    position: relative;
    z-index: 2;
}
article {
    width: 800px;
    padding: 26px 52px;
    float: left;
    position: relative;
    z-index: 2;
}


/* ==========================================================================
   3. Navigation - Get the navigation looking right
   ========================================================================== */

ul.mainmenu {
    list-style: none;
    padding-left: 0;
}
ul.mainmenu li {
}
ul.mainmenu li a {
    color: #b3b3b3;
    text-decoration: none;
    padding: 4px 24px;
    display: block;
}
ul.mainmenu li a:hover,
ul.mainmenu li.current a {
    background: #4e4a4a;
}


/* ==========================================================================
   4. General - The main styles for the the theme
   ========================================================================== */



#update-icon {
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, 0.6) url(assets/images/refresh.png) no-repeat 50% 50%;
    margin-top: -17px;
    margin-left: -17px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.no-js #update-icon {
    display: none;
}

@-moz-keyframes update-spinner {
	from { -moz-transform: rotate(360deg); }
	to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes update-spinner {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes update-spinner {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}
@keyframes update-spinner {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}
#update-icon {
    -webkit-animation: update-spinner 1s linear infinite;
    -moz-animation: update-spinner 1s linear infinite;
    -ms-animation: update-spinner 1s linear infinite;
    animation: update-spinner 1s linear infinite;
}