<!DOCTYPE html>
<html lang="da-DK">
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.meta_title %}
<title>{{ page.meta_title }}</title>
{% else %}
<title>Display your Facebook wall</title>
{% endif %}

{% if page.meta_description %}
<meta name="description" content="{{ page.meta_description }}" />
{% endif %}

<link rel="stylesheet" href="../assets/css/normalize.css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Slab:400,700" rel="stylesheet" />
<link rel="stylesheet" href="../assets/css/main.css" />

<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
<![endif]-->
</head>
    
<body>
<section>
    <header>
        <h1>Facebook wall jQuery plugin</h1>
        <p>This plugin let's you display your facebook profile og facebook page updates directly on your website.</p>
    </header>
    <hr />
    {{ content }}
    <hr />
    <footer>
        <h2>Footer</h2>
        <nav role="navigation">
            <ul class="mainmenu">
                <li class="current"><a href="{{ site.url }}/">Options</a></li>
                <li><a href="{{ site.baseurl }}/example">Example</a></li>
                <li><a href="{{ site.baseurl }}/live">Live</a></li>
                <li><a href="https://github.com/thomasclausen/jquery-facebook-wall" taget="_blank">GitHub Repository</a></li>
            </ul>
        </nav>
    
    </footer>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../assets/js/facebook_wall.plugin.js"></script>
<script src="../assets/js/main.js"></script>
</body>

</html>